run = "vite"
entrypoint = "index.html"
hidden = ["vite.config.js", ".config"]
modules = ["web:v9-20240319-38caddd", "nodejs-20:v30-20240319-38caddd"]

[nix]
channel = "stable-23_11"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "preview"]
deploymentTarget = "static"

[[ports]]
localPort = 5173
externalPort = 80